body {
	background-color: #1ABC9C;
	font-family: 'Montserrat', sans-serif;
}

/* Navigation */
.logo {
	position: absolute; max-width: 23%; left: 40%;
}

/* Big Triangle */
.big-triangle {
	margin-top: -5px;

}

svg#bigTriangleColor {
	pointer-events: none;
}

#bigTriangleColor path {
	fill: white;
	stroke: white;
	stroke-width: 2;
}

/* Style for SIGNUP template */
.signup {
	border-radius: 10px;
	margin-top: 25px;
	padding: 50px 0 50px 0;
	background-color: #1ABC9C;
}

.quote {
  color: white;
  margin-left: 20%;
  width: 60%;
  padding-top: 100px;
  padding-bottom: 80px;
}

.app-examples {
	background-color: white;
	padding: 10px;
	border-radius: 20px;
	width: 60%;
}

.app-logos {
	padding: 20px;
	max-width: 100%;
}

.app-logos img {
	
}

.app-grid {
	display: block;
	padding: 0;
}

.register {
	margin-top: 30px;
	margin-bottom: 40px;
}

/* Style for ABOUT template */

.about {
	background-color: rgb(227, 167, 45);
	color: white;
}

.about-header {
	padding-bottom: 100px;
}

.about-intro {
	padding-top: 50px;
}

.problem, .idea, .solution {
	padding-top: 20px;
	font-weight: bold;
}

.getinvolved-background {
	background-image: url('/img/tree.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 50%;
	height: 800px;
	padding-top: 40px;

}

.contact, .about, .get-involved {
	padding: 100px 0 100px 0;
}

.contact {
	background-color: rgb(0, 229, 174);
	min-height: 400px;
	color: white;
	padding: 200px 0 200px 0;
}

.sponsors {
	padding-top: 50px;
	padding-bottom: 100px;
}

.sponsors, .programs {
	background-color: rgb(236, 240, 241);
}

.sponsors-heading {
	padding-bottom: 70px;
	color: rgb(190, 190, 190);
}

.programs {
	padding-top: 100px;
}

.programs-background {
	background-image: url('/img/image-hub.png');
	background-repeat: no-repeat;
	background-position: center;
	height: 600px;
	padding-top: 0;
	color: white;
}

.programs-heading, .about-heading {
	border-radius: 20px;
	display: inline-block;
	border: 5px solid white;
	padding: 10px 30px 10px 30px;
}

.programs-header, .programs-intro, .programs-detail {
	padding-top: 70px;
}

.programs-heading, .getinvolved-heading {
	border-radius: 20px;
	display: inline-block;
	border: 5px;
	padding: 10px 30px 10px 30px;
}
.getinvolved {
	background-color: #1fb1d5;
	color: #1fb1d5;
}